setuptools
google-generativeai
google-cloud-aiplatform>=1.47.0
google-cloud-storage
google-cloud-documentai
google-cloud-logging
requests
gcsfs
pypdf
matplotlib 
numpy
pandas
scikit-learn
fsspec
tabulate
